[Desktop Entry]
Exec=/home/yang/.config/old-autostart-scripts/x-keyboard-control.sh
Icon=dialog-scripts
Name=x-keyboard-control.sh
Path=
Type=Application
X-KDE-AutostartScript=true
